<div class="row" *ngIf="hardCodedBooks.length > 0">
  <div class="col-md-4" *ngFor="let book of hardCodedBooks">
    <div class="card">
      <img
        class="card-img-top"
        src="https://loremflickr.com/286/180/gameofthrones"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.Name }}</h5>
        <p class="card-text">{{ book.Description }}</p>
        <a [routerLink]="['/book/' + book.Isbn]" class="btn btn-primary"
          >Go somewhere</a
        >
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
</div>
<div class="row" *ngIf="hardCodedBooks.length <= 0">This is awsome</div>

<div class="row">
  <p>This is super</p>

</div>
